<div class="container">

	<div class="alert alert-success person-found"></div>

 	<div id='map' style='width:1100px; height:200px;'></div>

 	<div class="product-list">
 	</div>

  <div class="cart">
    <div class="">
      <div class="panel panel-primary">
        <div class="panel-heading">Air Cart</div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sweet Chilli Burger</td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <td>$8.00</td>
              </tr>
              <tr>
                <td>Royal Hamburger</td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <td>$30.00</td>
              </tr>
              <tr>
                <th>Total</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>$68.00</th>
              </tr>
            </tbody>
          </table>
          <a href="#" class="btn btn-primary btn-bg pull-right">Checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>

