// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navlogo{
  height: 70px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.item {
	margin: 10px;
	padding: 15px;
	font-size: 1.2em;
}

.item img {
	height: 30vh;
	width: 50vm;
	max-width: 50%;
}

.item-description {
	float: right;
}

.item-price {
	display: inline;
	vertical-align: top;
	float: right;
}

h1 {
	float: left;
}

.item-description {
	max-width: 40%;
}

hr {
	clear: both;
}

.item button {
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

.product-list {
	width:80%;
}

.cart {
	width:40%;
	display: inline-block;
	margin-top: 50px;
}